apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: newproject
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      name: backend
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: usamaahmed99/zigscan-backend:latest
          ports:
            - containerPort: 8080
          env:
            - name: API_URL
              value: "http://localhost:8000"  # Replace with your actual API URL
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: newproject
spec:
  type: LoadBalancer  # Changed from NodePort to LoadBalancer
  selector:
    app: backend
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
